@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    background-color: rgb(22, 22, 22);
}
.header h1{
    background: linear-gradient(180deg, #40c9ff, #e81cff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 140px;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 125px;
    color: white;
}
.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.radial{
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radial i{
    font-size: 35px;
    color: red;
}
.toggle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
}
.radial .toggle.active{
    transform: rotate(315deg);
    box-shadow: 0 0 0 80px white;
    background: black;
    color: white;
}
.radial li{
    position: absolute;
    list-style: none;
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(35px);
    left: 30px;
    transform-origin: 160px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
    border-radius: 50%;
}
.radial.active li{
    visibility: visible;
    opacity: 1;
}
.radial li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    font-size: 1.75em;
    color: red;
    transform: rotate(calc(360deg / -8 * var(--i)));
    border-radius: 50%;
}
.radial.active li.active{
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(3px);
    background-color: aqua;
    border: 10px solid rgb(22, 22, 22);
}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}

.assignment{
    position: absolute;
    top: 350px;
    left: 60%;
    z-index: 2;

    width: 300px;
    height: 300px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0px -15px 35px rgb(103, 103, 103);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.presentation img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    float: top;
}
.presentation h4{
    margin-top: 5px;
    padding: 0 5px 0;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 20px;
    color: white;
}
.presentation a{
    display: block;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 60px;

    height: 35px;
    width: 180px;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(187, 0, 255);

    color: white;
    padding-top: 9px;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;

    transition: 0.1s ease-in;
}
.presentation a:hover{
    background-color: rgba(187, 0, 255, 0.8);
}

.glow{
    position: absolute;
    top: 450px;
    left: 55%;

    width: 450px;
    height: 450px;
    background: rgb(0, 255, 0);
    transform: rotateX(70deg) rotateZ(20deg);
    filter: blur(30px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2);
    box-shadow: 0 0 200px rgba(0, 255, 0, 0.4);
    box-shadow: 0 0 300px rgba(0, 255, 0, 0.6);
    box-shadow: 0 0 400px rgba(0, 255, 0, 0.8);
    box-shadow: 0 0 500px rgba(0, 255, 0, 1);
    animation: animate 4s linear infinite;
    z-index: 0;
}
@keyframes animate {  
    0%{
        transform: rotateX(70deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(70deg) rotateZ(360deg);
    }
}